html * {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #111111;
}

label, h2 {
  color: white;
}

input {
  background-color: #111111;
  color: white;
}

.undercover {
  visibility: hidden;
  display: none;
}

.submit {
  cursor: pointer;
  background-color: #222222;
  border-color: #222222;
}

.submit:hover {
  border-color: white;
}

.link-button {
  align-items: center;
  background-color: #222222;
  border-color: #222222;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  width: 250px;
  height: 75px;
  visibility: hidden;
}

.link-button:hover {
  border-color: white;
}

.stats-link {
  color: white;
  visibility: hidden;
}