@page
<link rel="stylesheet" href="~/css/index.css">
<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
<link rel="manifest" href="/icons/site.webmanifest">
<body>
<h2>Gecko's Link Shortener</h2>
<div>
  <form id="linkForm">
    <label for="link">Link:</label>
    <input type="text" required id="link" name="link" autocomplete="off">
    <input type="submit" class="submit" value="Shorten">
  </form>
  <input type="text" id="forCopy" class="undercover">
  <button class="link-button" id="link-button" onclick="copyToClipboard()">
    <span id="shortened" style="text-decoration: underline;"></span><br>
    <span style="font-size: 12px; color: #dddddd;">Click to copy</span>
  </button><br><br>
  <a href="test" target="_blank" id="stats-link">
    <button class="link-button" id="stats-button"><span style="text-decoration: underline;">View Stats</span></button>
  </a>
</div>
<script src="~/libs/jquery.js"></script>
<script src="~/js/index.js"></script>
</body>